@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fffff;
  --primary: #5505D6;
  --secondary: #6EEF9C;
  --card-bg: #0E0E0E;

}


[data-theme="light"] {
  /* Light theme */
  --background: #ffffff;
  --foreground: #000000;
  --card-bg: #f8fafc;
  --card-border: #e2e8f0;
  --text-primary: #1f2937;
  --text-secondary: #4b5563;
  --text-muted: #6b7280;
  --primary: #5505D6;
  --secondary: #6EEF9C;
  --accent: #f1f5f9;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-satoshi: var(--font-satoshi);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes spin-slow {
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

html {
  scroll-behavior: smooth;
}

.gradient-scarface {
  background: linear-gradient(90deg, #4B1FA6 0%, #6C2BD7 35%, #5CF0B4 70%, #1FC6A6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

body {}